<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoWeather">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeatherDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DonateActivity" />
        <activity android:name=".OxaPayActivity" />
        <activity android:name=".CoinbaseActivity" />
        <activity android:name=".EthereumActivity" />
        <activity android:name=".BitcoinActivity" />
        <activity android:name=".USDT_Activity" />
        <activity android:name=".USDC_Activity" />
        <activity android:name=".LTC_Activity" />
        <activity android:name=".DogeActivity" />
        <activity android:name=".ShibActivity" />
        <activity android:name=".TronActivity" />

        <meta-data
            android:name="osmdroid.basePath"
            android:value="osmdroid" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.freetime.geoweather.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>